<div class="container">

<%if current_user && current_user.user_type == "Employee" || current_user.email == "brian@snowschoolers.com" %>
    <%= link_to "View Detailed Info for All Instructors (Recruiting)", "/admin_index", class: 'btn btn-primary' %>
<%end%>

<h4>Total instructor count: <%= Instructor.count - 1 %> </h4>
<h4>Skiers: <%= Instructor.where(sport:"Ski Instructor").count - 1 %> </h4>
<h4>Snowboarders: <%= Instructor.where(sport:"Snowboard Instructor").count %> </h4>
<hr>
<h4>Lifetime Lessons: <%= Location.find(current_user.location).lifetime_lessons.count %> </h4>
<h4>Lifetime Revenue: <%= number_to_currency(Location.find(current_user.location).lifetime_revenue) %> </h4>
<h4>Lessons Today: <%= Location.find(current_user.location).today_lessons.count %> </h4>
<h4>Revenue Today: <%= number_to_currency(Location.find(current_user.location).today_revenue) %> </h4>

<table class="instructors-table">
  <thead>
    <tr>
<!--       <th>First</th>
      <th>Last</th> -->
      <!-- <th>ID</th> -->
      <th></th>
      <th>Name</th>
      <th>Admin Actions</th>
      <th>Resort</th>
      <th>Rank</th>
      <th>Certification</th>
      <th>Sport</th>
      <th>Status?</th>
      <!-- <th>Verified Instructor?</th> -->
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @instructors.each do |instructor| %>
      <tr>
        <!-- <td><%= instructor.id %></td> -->
        <td> <%= link_to image_tag(instructor.avatar.url(:thumb), alt:"avatar-img", class:"img-responsive img-thumbnail avatar-thumbnail"), edit_instructor_path(instructor) %> </td>
        <td><%= link_to "#{instructor.name}", edit_instructor_path(instructor) %></td>
        <!-- <td>
          <% instructor.locations.each do |location| %>
              <%= location.name %> <br>
          <% end %>
        </td> -->
        <% if instructor.status != "Active" %>
        <td><%= link_to 'Activate', verify_instructor_path(instructor), method: :post, class: 'btn btn-success' %></td>
          <% else %>
        <td><%= link_to 'Revoke', revoke_instructor_path(instructor), method: :post, class: 'btn btn-danger' %></td>
        <% end %>
        <td><%= instructor.locations.first.name %></td>
        <td><%= instructor.overall_initial_rank %></td>
        <td><%= instructor.certification %></td>
        <td><%= instructor.sport %></td>
        <td>Currently <%= instructor.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
