<div class="profile-container">

<div class="col-md-7 instructor-core-info">
  <h1> <%= @instructor.name %>, 29 </h1>
  <h4> Hometown: <%= @instructor.city %> </h4>
  <h3> <%= @instructor.sport %> | Avg. Rating: <%= @instructor.average_rating%> stars </h3>
  <h4> Certification Status: <%= @instructor.certification %></h4>

  <div class="maps-container col-md-6">
    <iframe
    width="250"
    height="150"
    frameborder="0"
    src="https://www.google.com/maps/embed/v1/place?key=<%= ENV["GOOGLE_MAPS_API"] %>
      &q=<%= @instructor.city %>" allowfullscreen>
  </iframe>
  </div>
  <div class="resorts-container col-md-6">
    <p> I teach lessons at:</p>
    <ul class="instructor-resorts">
      <% @instructor.locations[0..3].each do |location| %>
        <li><%= location.name %></li>
      <% end %>
    </ul>
  </div>

</div>

<div class="col-md-5 instructor-avatar-box">
  <div class="col-lg-12 col-sm-12 square-image">
      <%= image_tag @instructor.avatar.url(:large), alt:"avatar-img", class:" center img-responsive instructor-profile-photo" %>
    </div>
  <h3 class="center"><a href="/new_request/<%=@instructor.to_param%>" class="btn sign-up-btn">Book a lesson with me </a></h3>
</div>

<hr>
<h1 class="center"> About <%= @instructor.name %> </h1>
<h4>
  <%= @instructor.bio %>
</h4>

<hr>
<h1 class="center"> <%= @instructor.name %>'s Recent Reviews </h1>
<div class="row">
<div class="reviews-container">
  <% @instructor.reviews.each do |review| %>
    <div class="col-md-12 individual-review">
      <h4> <%= review.review %></h4>
      <h5 class="pull-right"> <em> - <%=review.reviewer.display_name %> on <%= review.created_at.strftime("%B %d, %Y") %></em></h5>
    </div>
<% end %>
</div>
</div>

<hr>
<% if current_user && current_user.email == 'brian@snowschoolers.com' %>
    <%= link_to 'Edit', edit_instructor_path(@instructor) %> |
    <%= link_to 'Verify Instructor', edit_user_registration_path(@instructor.user), class: 'btn btn-success' %>
<% end %>
<br> <br>
<%= link_to 'Back to all instructors', instructors_path, class: 'btn sign-up-btn' %>
<div class="buffer"></div>
</div>
