<div class="container">
<h1>Listing calendar_blocks</h1>

<table class="instructors-table">
  <thead>
    <tr>
<!--       <th>ID</th>
      <th>Instructor</th>
      <th>Lesson time ID</th> -->
      <th>Instructor</th>
      <th>Date blocked</th>
      <th>Slot blocked</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @calendar_blocks.each do |calendar_block| %>
      <tr>
<!--         <td><%= calendar_block.id %></td>
        <td><%= calendar_block.instructor_id %></td>
        <td><%= calendar_block.lesson_time_id %></td> -->
        <td><%= Instructor.find(calendar_block.instructor_id).name %></td>
        <td><%= calendar_block.lesson_time.date.strftime("%a, %b %d") %></td>
        <td><%= calendar_block.lesson_time.slot %></td>
        <td><%= calendar_block.status %></td>
        <td><%= link_to 'Show', calendar_block %></td>
        <td><%= link_to 'Edit', edit_calendar_block_path(calendar_block) %></td>
        <td><%= link_to 'Destroy', calendar_block, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Calendar block', new_calendar_block_path %>
</div>
