<div class="container">
<%= semantic_form_for @section do |f| %>
  <%= f.inputs do %>
    <%= f.input :date, as: :string, input_html: { id: 'datepicker', value:@date }, placeholder: 'Date', label: false %>
    <%= f.input :lesson_type, as: :select, collection: ['Private Lesson', 'Group Lesson'], include_blank: 'Private or Group?', label: false %>
    <%= f.input :age_group, as: :select, collection: ['Adults', 'Kids'], include_blank: 'Kids or Adults?', label: false %>
    <%= f.input :sport_id, as: :select, collection: [['Ski',1],['Snowboard',2]], include_blank: 'Select Sport', label: false %>
    <%= f.select :instructor_id, options_from_collection_for_select(Instructor.all.to_a.keep_if {|a| a.status =="Active" }, :id, :name), {include_blank:"Select an Instructor"}, {class: 'form-control form-group', required:false}  %>

    <%= f.input :status, as: :select, collection: ['Open','Fully booked','In-progress','Completed'], include_blank: 'Lesson status', label: false %>
    <%= f.input :level, as: :select, collection:
              ["Level 1 - first-timer",
              "Level 2",
              "Level 3",
              "Level 4",
              "Level 5",
              "Level 6",
              "Level 7",
              "Level 8",
              "Level 9"],
              include_blank: "What level is the class?", label: false %>
    <%= f.input :capacity, label:"Max capacity" %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :input %>
  <% end %>
<% end %>
</div>