<section id="" class="pricing-new-lesson">
    <div class="">
        <table class="col-lg-6 col-xs-6 pricing-table">
          <thead class="">
            <tr>
                <th class="center price-header" colspan="4">
                    <h1>GROUP LESSON RATES</h1>
                </th>

            </tr>
          </thead>

          <tbody>
            <tr>
                <td class="pricing-length">Kids Ski School (10am-3:30pm)</td>
                <td class="pricing-snowschoolers price-kids-group">
                    <%= number_to_currency(Product.where(location_id:8, product_type:"learn_to_ski",age_type:"Child",calendar_period:Location.find(8).calendar_status).first.price, :precision => 0) %>
                </td>
            </tr>
            <tr>
                <td class="pricing-length">Adult AM Learn to Ski or Ride (10-12:30pm) </td>
                <td class="pricing-snowschoolers price-adults-group">
                    <%= number_to_currency(Product.where(location_id:8, product_type:"learn_to_ski",age_type:"Adult",calendar_period:Location.find(8).calendar_status).first.price, :precision => 0) %>
                    </td>
            </tr>
            <tr>
                <td class="pricing-length">Adult AM Learn to Ski or Ride (10-12:30pm) </td>
                <td class="pricing-snowschoolers price-adults-group">
                    <%= number_to_currency(Product.where(location_id:8, product_type:"learn_to_ski",age_type:"Adult",calendar_period:Location.find(8).calendar_status).first.price, :precision => 0) %>
                    </td>
            </tr>
           
          </tbody>
        </table>

        <table class="col-lg-6 col-xs-6 pricing-table">
          <thead class="">
            <tr>
                <th class="center price-header" colspan="4">
                    <h1>PRIVATE LESSON RATES</h1>
                </th>

            </tr>
          </thead>

          <tbody>
            <tr>
                <td class="pricing-length">Early-bird (9-10am)</td>
                <td class="pricing-snowschoolers price-eb">
                    <%= number_to_currency(Product.where(location_id:8,length:"1.00",calendar_period:Location.find(8).calendar_status).first.price, :precision => 0) %>
                    </td>
            </tr>
            <tr>
                <td class="pricing-length">Half-day (10-1pm or 1-4-pm)</td>
                <td class="pricing-snowschoolers price-hd">
                    <%= number_to_currency(Product.where(location_id:8,length:"3.00",calendar_period:Location.find(8).calendar_status).first.price, :precision => 0) %>
                </td>
            </tr>
            <tr>
                <td class="pricing-length">Full-day (10-4pm)</td>
                <td class="pricing-snowschoolers price-fd">
                    <%= number_to_currency(Product.where(location_id:8,length:"6.00",calendar_period:Location.find(8).calendar_status).first.price, :precision => 0) %>
                </td>
            </tr>
          </tbody>
        </table>
        <div class="row col-md-12 price-details">
            <h4 class="italic">
            *Prices <b> do not include </b> your lift ticket and/or rental equipment. 
            <br> 
            **You may include <b>up to 5 people </b> at no additional charge.
            <br>
            </h4>            
        </div>
    </div>    
</section>