    <section id="header-creative" class="top-section">
        <ul id="slider">
            <li>
                <img src="https://s3.amazonaws.com/snowschoolers/images/demo/slider/snow-less.jpg" alt="bearvalley" class="bg-photo" alt="" />
            </li>
        </ul>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading" class="shadow-box-highlight">Private Lessons Made Perfect<br>
                <span class="smaller-text"></span>
                </h1>
                <hr>
                <p class="shadow-box-highlight hero-subtext">Say goodbye to the morning hassle. Book a certified instructor online, and we'll meet you on the mountain.</p>
                <a href="/lessons/new" class="btn btn-primary btn-xl page-scroll">Book a Lesson Today</a>
                <p class="shadow-box-highlight ">With <b>26" of fresh</b> across 1200+ acres of newly opened terrain, Homewood is officially a powder paradise!
                <!-- See our <a href="/launch_announcement" class="internal-link">recent launch announcement</a> for more info.</p> -->
            </div>
            <hr>
            <!-- <div class="header-content-inner">
                    <h3 id="search-index-header" class="shadow-box-highlight">Easily compare lesson prices before you book.<br><br>
                    <span class="smaller-text"></span>
                    %= render partial: 'products/search' %>
                    </h3>
            </div> -->
        </div>
    </section>

    <section id="daily-update" class="bg-primary hidden-unless-mobile">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading white-text"><b> The Snow Situation</b> - <%= Date.today.strftime("%a, %b %d") %> </h1>
                </div>
                <div class="twitter-embed">
                    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">It's a bluebird Christmas at <a href="https://twitter.com/skihomewood">@skihomewood</a>! <a href="https://t.co/NJaEhBkLnY">pic.twitter.com/NJaEhBkLnY</a></p>&mdash; Snow Schoolers (@snowschoolers) <a href="https://twitter.com/snowschoolers/status/813076390945976320">December 25, 2016</a></blockquote>
                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>
    </section>
    <section id="why-snowschoolers" class="pricing-section">
        <div class="container">
            <div class="row about-us">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading how-it-works navy-text">Why Snow Schoolers?</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h2 id="why-snowschoolers-subheader" class="center navy-text">Booking a ski or snowboard lesson should be <b>fast, easy, </b>and <b>convenient</b>.
                </h2>
              <hr class="deposit-hr-navy">
              <div class="row">
                <p class="solid-box-highlight why-snowschoolers-text white-text center">
                We are a team of lifelong skiers and technologists, and we believe that <b>literally anyone </b> can learn how to ski. Whether this will be your first time seeing snow, or whether you're an experienced skier looking to take your skills to the next level, we're here to ensure you have the <b>perfect lesson experience</b>.
                </p>
                <p class="solid-box-highlight why-snowschoolers-text white-text">
                <span class=""> We are currently only accepting <b> private lessons reservations </b> at <a href="https://www.google.com/maps/place/Homewood+Mountain+Resort/@39.0855833,-120.1627278,17z/data=!3m1!4b1!4m5!3m4!1s0x80997fda4762005f:0x73b0c46aa0c1068d!8m2!3d39.0855833!4d-120.1605391" class="green-link">Homewood Mountain Resort</a>, which is located on the west shore of Lake Tahoe, 10 minutes from Tahoe city.</span> A private lesson ensures you receive the <b> dedicated attention you deserve </b> from one of our <a href="/browse" class="green-link">certified instructors</a>. If private lessons are outside your budget, our team of dedicated customer success agents would be happy to talk you through the options around group lessons, which can be booked online at <a href="http://cloudstore.skihomewood.com/product/5484/CA/Homewood-Adult-A.M.-First-Time-Learn-to-Ski-Lesson-Package.htm#12-2016" class="green-link"> www.skihomewood.com</a>. Whether you're booking a private or a group lesson, we are confident that Homewood offers <b>the best value</b> in Tahoe.
                </p>
            </div>
            </div>
        </div>
    </section>

<section id="private-group-comparison" class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading white-text">Skiing is expensive - is a <b>private lesson</b> worth it?</h1>
                </div>
            </div>
            <div class="row navy-bg">
                <div class="col-md-6">
                    <h2 class="padding-top center white-text comparison-header"><b> Garry </b> goes in a group </span></h2>
                    <img src="https://s3.amazonaws.com/snowschoolers/images/group-photo.jpg" class="comparison-photo" alt="group-lesson"/>
                    <h2 class="center white-text comparison-subheading"></h2>
                    <ul class="ski-expenses comparison-container">
                        <li>Beginner bundle (lift pass, rental, lesson): $99</li>
                        <li>Standard group lesson: 2.5 hours</li>
                        <li>Students per group: 8 students</li>
                        <li>Lessons needed to ski confidently: 3 </li>
                    </ul>
                    <h2 class="white-transparent-bg expenses-total red bold">Total: 3 days, $297 </h2>
                </div>
                <div class="hidden-unless-mobile col-md-12">
                    <hr>
                </div>
                <div class="col-md-6">
                    <h2 class="padding-top center white-text comparison-header"><b> Peter </b> takes a private</h2>
                    <img src="https://s3.amazonaws.com/snowschoolers/images/private-photo.png" class="comparison-photo" alt="private-lesson">
                    <h2 class="center white-text comparison-subheading"></h2>
                    <ul class="ski-expenses comparison-container">
                        <li>Half-day morning lesson: $489</li>
                        <li>Lift ticket & rental: $64 </li>
                        <li>4 hours of dedicated 1:1 instruction </li>
                        <li>Lessons needed to ski confidently: 1 </li>
                    </ul>
                    <h2 class="white-transparent-bg expenses-total green bold">Total: 1 day, $553 </h2>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
                <h3 class="center">*Note that all private lessons can become <b>private groups</b> when you invite a friend or two. Likewise, make it a <b>family lesson</b> and the price never changes, so you get even more bang for your buck.</h3>
            </div>
        </div>
 </section>

    <section class="pricing-section">
        <div class="pricing-container">
            <table class="col-lg-12 col-xs-12 pricing-table">
              <thead class="">
                <tr>
                    <th class="center price-header" colspan="4">Private Lesson Rates in Tahoe</th>

                </tr>
                <tr class="">
                  <th class="col-xs-2"> </th>
                  <th class="pricing-snowschoolers col-xs-2">Snow Schoolers <br> <span class="homewood-pricing">(at Homewood)</span> </th>
                  <th class="pricing-competitors-names col-xs-2">Northstar</th>
                  <th class="pricing-competitors-names col-xs-2">Squaw Valley</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                    <td class="pricing-length">1hr (9 - 10am)</td>
                    <td class="pricing-snowschoolers">
                        <%= number_to_currency(Product.where(location_id:8,length:1,calendar_period:Location.find(8).calendar_status).first.price, :precision => 0) %>
                        </td>
                    <td class="pricing-competitors">N/A</td>
                    <td class="pricing-competitors">N/A</td>
                </tr>
<!--                 <tr>
                    <td class="pricing-length">2hr</td>
                    <td class="pricing-snowschoolers">$150</td>
                    <td class="pricing-competitors">$295</td>
                    <td class="pricing-competitors">$325</td>
                </tr> -->
                <tr>
                    <td class="pricing-length">Half-day (3hr)</td>
                    <td class="pricing-snowschoolers">
                    <%= number_to_currency(Product.where(location_id:8,length:3,calendar_period:Location.find(8).calendar_status).first.price, :precision => 0) %>
                    </td>
                    <td class="pricing-competitors">$575</td>
                    <td class="pricing-competitors">$519</td>
                </tr>
                <tr>
                    <td class="pricing-length">Full-day (6hr)</td>
                    <td class="pricing-snowschoolers">
                    <%= number_to_currency(Product.where(location_id:8,length:6,calendar_period:Location.find(8).calendar_status).first.price, :precision => 0) %>
                    </td>
                    <td class="pricing-competitors">$810</td>
                    <td class="pricing-competitors">$739</td>
                </tr>
              </tbody>
            </table>
        </div>
    </section>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xs12 text-center">
                    <h2 class="section-heading">Learning to ski or snowboard is hard. <br> Booking a private lesson shouldn't be.</h2>
                    <div class="col-md-12 beta_user-sign-up">
                        <%= form_for(@beta_user = BetaUser.new) do |f| %>
                          <% if @beta_user.errors.any? %>
                            <div id="error_explanation">
                              <h2><%= pluralize(@beta_user.errors.count, "error") %> prohibited this beta_user from being saved:</h2>
                              <ul>
                              <% @beta_user.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                              <% end %>
                              </ul>
                            </div>
                          <% end %>
                          <div class="email-input">
                            <%= f.email_field :email, autofocus: false, class:"black-text form-control beta-sign-up", placeholder:"Enter Email", required: true  %>
                          <%= f.submit "Enter to win Free Lesson", class:"btn btn-success btn-xl page-scroll" %>
                          <!-- <h3 class="offer-limitations">*First 100 sign ups receive 20% off their first lesson.</h3> -->
                          </div>
                        <% end %>
                    </div>
                    <hr class="light text-center">
                    <!-- <h3 class="text-white">Instructors at Snow Schoolers loving sharing their passion for the mountain, and don't care to see your wallet drained. </h3> -->
                    <div class="col-md-8 col-md-offset-2">
                     <!-- <h3> Beyond convenience, our <b> dynamic matching algorithm</b> ensures an expert Snow Schoolers instructor is always available. Book in advance to lock in early season rates, with one-hour early-bird specials <b>starting at just $89</b>.
                     </h3> -->
                     <h3>
                         Snow Schoolers is closing out 2016 by raffling off a free half-day powder lesson to one lucky customer. Must enter by 12/31!
                     </h3>
                     <!-- <h3>
                     Booking last minute? Not a problem either. Prices only surge when it's necessary to get more instructors out on the hill.
                     </h3> -->
                   <hr>
                     <h4>Already planned your trip and ready to book?</h4>
                     </div>
                    <a href="/lessons/new" class="btn btn-primary btn-xl page-scroll">Book your lesson now</a>
                </div>
            </div>
        </div>
    </section>

    <section id="how-it-works">
        <div class="container">
            <div class="row how-it-works">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading how-it-works">How it works</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <h3 class="navy-text">Request a Lesson</h3>
                        <img src="assets/book-lesson.png" alt="book-lesson" class="how-it-works-images">
                        <p class="navy-text">Get started by selecting your sport, mountain, date, and time of lesson.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <h3 class="navy-text">Lesson Confirmation</h3>
                        <img src="assets/accept-request.png" alt="accept-request" class="how-it-works-images">
                        <p class="navy-text">Notifications are sent to the best available instructors for your request, and you're notified as soon as they confirm. 80% of request are responded to within 15 minutes.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <h3 class="navy-text">Ride Like a Pro</h3>
                        <img src="assets/bearvalley-snowbomb.png" alt="snowboarder" class="how-it-works-images">
                        <p class="navy-text">Specific logistics like a meeting spot are coordinated over in-app messaging. </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <h3 class="navy-text">Share the Love</h3>
                        <img src="assets/review-instructor.png" alt="accept-request" class="how-it-works-images">
                        <p class="navy-text">Rate the quality of your Snow Schoolers experience, give your instructor a 5-star review, and share the word!</p>
                       <!-- <p class="text-muted">Rate the quality of your Snow Schoolers experience, and have the option of making a donation to help sustain the program. 100% of donations go to our instructors.</p> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

<section class="bg-dark small">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Sign up for free and book your first lesson today!</h2>
                   <a href="/lessons/new" class="btn btn-primary btn-xl page-scroll">Book a Lesson</a>
            </div>
        </div>
</section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Questions - Let us know!</h2>
                    <hr class="primary">
                    <p>Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>(530)430-SNOW</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:info@snowschoolers.com" target="_blank">info@snowschoolers.com</a></p>
                </div>
            </div>
        </div>
    </section>

<script src="//load.sumome.com/" data-sumo-site-id="a1fbda8d7365cdee08d4a5985659bb680581b2dd4281ce27f0f246ffaa655693" async="async"></script>
