<div class="col-md-12">
        <%= form_tag confirm_reservation_path do %>
          <article>
            <% if flash[:error].present? %>
              <div id="error_explanation">
                <p><%= flash[:error] %></p>
              </div>
            <% end %>
            <h1>Complete Lesson Deposit to Secure your Reservation</h1>
            <div class="col-md-3">
              <h4>
                <b>Lesson Date:</b>  <br>
                <b>Lesson Time:</b>  <br>
                <b>Price:</b> <br>
                <b>Meeting Location:</b>
              </h4>
            </div>
            <div class="col-md-9">
              <h4>
                <%= @lesson.lesson_time.date.strftime("%A %b #{@lesson.lesson_time.date.day.ordinalize}, %Y") %> <br>
                <%= @lesson.lesson_time.slot %> <br>
                <%= number_to_currency(@lesson.price) %> <br>
                Homewood North Lodge  (<a href="https://www.google.com/maps/place/Homewood+Mountain+Resort/@39.086085,-120.1627817,17z/data=!4m12!1m6!3m5!1s0x809bd57fbf0e6771:0x6cdf8953d18f267f!2sSR+89+Homewood+(Homewood+Mountain+Resort)!8m2!3d39.086085!4d-120.160593!3m4!1s0x0:0x73b0c46aa0c1068d!8m2!3d39.0855831!4d-120.1605392" >5145 W Lake Blvd, Homewood, CA 96141</a>)
              </h4>
            </div>
            <div class="col-md-12"
              <label class="amount">
                <p>A <b> $50.00 </b> deposit is required to complete your reservation. The remaining balance will be charged 24 hours before the start of your lesson. You may cancel or modify your reservation up to 24 hours before the start of your lesson. If for any reason you are unsatisfied with your Snow Schoolers experience, please ask about our 100% satisfaction guarantee.</p>
              </label>
              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                      data-description="$50 Lesson Deposit. The remaining balance will be charged 24 hours before the start of your lesson."
                      data-name="Snow Schoolers"
                      data-image="https://s3.amazonaws.com/snowschoolers/SnowSchoolers-favicon.png"
                      data-amount="5000"
                      data-locale="auto"
                      data-zip-code="true">
              </script>
            </div>
        </article>

        <% end %>
<div class="col-md-12">
  <hr class="deposit-hr-navy">
</div>

</div>
