<div id="middle" class="container">
  <div class="white">

    <header class="page-header">
      <h1>Update Your Lesson</h1>
    </header>

    <%= semantic_form_for @lesson do |f| %>
      <%= f.semantic_errors :instructor %>
      <%= hidden_field_tag 'ga_client_id', '', :class => 'ga-client-id' %>
      <div class='row'>
        <div class="col-md-6">
          <h4>Basic <strong>Info</strong></h4>

          <div class='row'>

            <div class="col-md-6">
              <label>Lesson Type</label>
              <%= f.input :activity, as: :select, collection: ['Ski', 'Snowboard'], include_blank: 'Lesson Type', label: false %>
            </div>

            <div class="col-md-6">
              <label>Location</label>
                <%= f.input :requested_location, as: :select, collection: Location.all, include_blank: 'Location', label: false %>
            </div>
          </div>

          <%= f.semantic_fields_for :lesson_time, @lesson_time do |lt_f| %>
            <div class='row'>
              <div class="col-md-6">
                <label>Date</label>
                <%= lt_f.input :date, as: :string, input_html: { id: 'datepicker' }, placeholder: 'Pick a date', label: false %>
                <span class="search-area-icon"></span>
              </div>

              <div class="col-md-6">
                <label>Slot</label>
                <!-- <%= lt_f.input :slot, as: :select, collection: ['Morning', 'Afternoon', 'Full Day'], include_blank: 'Length', :input_html => { :class => 'lesson-slot-input'}, label: false %> -->
                <%= lt_f.input :slot, as: :select, collection: ['Early Bird (9-10am)', 'Half-day Morning (10am-1pm)', 'Half-day Afternoon (1pm-4pm)','Full-day (10am-4pm)'], include_blank: 'Time', label: false %>

              </div>
            </div>
          <% end %>

          <div class='row'>
            <!-- <div class="col-md-4">
              <label>Lesson Length</label>
              <%= f.input :duration, as: :select, collection: [['1 hour', 1],['2 hours', 2], ['3 hours', 3], ['6 hours', 6]], selected: '2', include_blank: 'Length', required: true, label: false, :input_html => { :class => 'lesson-length-input  full-form-focus'} %>
            </div>

            <div class="col-md-4">
              <label>Start Time</label>
              <%= f.input :start_time, as: :string, input_html: { id: 'timepicker' }, placeholder: 'Pick a start time', required: true, label: false %>
            </div> -->
            <div class="col-md-4">
              <label>Cell Phone</label>
              <%= f.input :phone_number, as: :string, include_blank: '(xxx)xxx-xxxx', label: false, required: true %>
            </div>
            <div class="col-md-4">
              <label>Price</label>
                <h2> <span id="lesson-price"><%= number_to_currency(@lesson.price) %></span></h2>
            </div>
            <!--             <div class="col-md-4">
              <label>Do you have gear?</label>
              <%= f.input :gear, as: :select, collection: [['Yes, already have gear.', true], ['No, need gear.', false]], include_blank: '(Skis,boots,etc.)', label: false %>
            </div> -->
            <div class="col-md-12">
            <!-- Price ($75 per hour): $<span id="donation-amount"><%= @lesson.price %></span>.00 -->
            </div>
          </div>

          <h4>Student <strong>Info</strong></h4>
          <!-- <div id="previous_students">
            <% if current_user.students %>
            <h4>This lesson is for the previously entered student(s) below.</h4>
              <%= f.select :id, options_from_collection_for_select(current_user.students, :id, :name), {}, {required: false, class: 'form-control'} %>
            <% end %>
          </div> -->
          <div id='lesson_students_input'>
            <%= f.semantic_fields_for :students do |student| %>
              <%= render 'student_fields', f: student %>
            <% end %>
            <h3 class="text-warning hidden" id="ability-level-warning">Warning - students must all be within one level of each other in order to participate in the same lesson.</h3>
            <div class='links'>
              <%= link_to_add_association 'Add Another Student', f, :students, class: 'btn btn-default', id:'add-student-button' %>
            </div>
            <%= f.semantic_errors :students %>
          </div>
        </div>

        <div class="col-md-6">
          <h4>Lesson  <strong> Objectives</strong></h4>

          <!-- <div class='col-md-12'>
            <label>Skill Level</label>
             <%= f.input :ability_level, as: :select, collection: ['First-time ever', 'Beginner', 'Intermediate','Advanced'], include_blank: 'Ability Level', input_html: {class: 'width100'}, required: true, label: false %>
          </div> -->
          <div class='col-md-12'>
            <label>If you had to choose one focus area for this lesson, what would it be?</label>
            <%= f.input :focus_area, as: :select, collection: ['Basic Fundamentals','Racing Technique', 'Moguls','Terrain Park','Powder Skiing or Riding','Big-Mountain Skiing or Riding'], include_blank: 'Select a focus area', input_html: {class: 'width100'}, required: true, label: false %>
          </div>
         <div class='col-md-12'>
            <label>Anything else you want your instructor to know?</label>
            <%= f.input :objectives, placeholder: 'What do you hope to get out of this lesson?', required: true, label: false %>
          </div>
          <div class="col-md-12">
            <span class="remember-box checkbox ">
              <label for="rememberme">
                  <%= f.check_box :terms_accepted, id: "rememberme", required: true  %>I agree to the <span><a href="/terms_of_service" target="_blank">Terms and Conditions</a></span>
<!--                 <% if @lesson.terms_accepted.nil? %>
                  <%= f.check_box :terms_accepted, id: "rememberme" %>I agree to the <span><a href="#">Terms and Conditions</a></span>
                <% else %>
                  <%= f.input :terms_accepted, as: :hidden, input_html: { value: true } %>
                <% end %>
 -->              </label>
            </span>
            </div>

          <div class="col-md-9">
          <% if @lesson.state == 'new' %>
            <h4>Submit <strong> Lesson Request</strong></h4>
            <% button_text = "Submit" %>
            <% else %>
            <h4>Update <strong> Lesson Request</strong></h4>
            <% button_text = "Update" %>
          <% end %>
          </div>
         <% if @lesson.deposit_status == 'confirmed' %>
          <div class="col-md-3">
            <%= f.input :state, as: :hidden, input_html: { value: @state } %>
            <%= f.submit button_text, class: 'btn sign-up-btn pull-right' %>
          </div>
          <% else %>
          <div class="col-md-12">
              <%= form_tag charges_path do %>
                <article>
                  <% if flash[:error].present? %>
                    <div id="error_explanation">
                      <p><%= flash[:error] %></p>
                    </div>
                  <% end %>
                  <label class="amount">
                    <span>A $25.00 refundable deposit is required to complete your reservation. Your payment information will be saved and the remaining balance will be charged 24 hours before the start of your lesson. If for any reason you are unsatisfied with your Snow Schoolers experience, please ask about our 100% satisfaction guarantee.</span>
                  </label>
                </article>

                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                        data-description="Refundable $25 Lesson Deposit. The remaining balance will be due upon completion of your lesson."
                        data-name="Snow Schoolers"
                        data-image="https://s3.amazonaws.com/snowschoolers/SnowSchoolers-favicon.png"
                        data-amount="2500"
                        data-locale="auto"
                        data-zip-code="true">
                </script>
              <% end %>
              </span>
            </div>
          <% end %>

        </div>
      </div>

      <hr class='lesson-break' />

      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <hr>

        </div>
      </div>
    <% end %>

  </div>
</div>

<!-- SLIDER -->
<img id="cycle-loader" src="/assets/spinner.gif" alt="loader" />

<ul id="slider">
  <li><img src="/assets/demo/slider/thredbo-village-resort-hero.jpg" alt="" /></li>
</ul>
<!-- /SLIDER
