<header class="page-header">
  <h1>Lesson Details</h1>
</header>
<p>Requester: <%= @lesson.requester.name %>
<% if @lesson.instructor %>
  <br> Instructor: <%= @lesson.instructor.name %>
<% else %>
  <% if @lesson.pending_requester? %>
    <br> No instructors available for this date and time. Please edit or cancel
  <% else %>
    <br> No instructor assigned yet
  <% end %>
<% end %>
<br> Status: <%= @lesson.state %>
<% if @lesson.payment_complete? %>
<br> Tip Amount: <%= number_to_currency(@lesson.tip) %>
<% end %>
</p>
<div class='row'>
  <%if @lesson.state == "waiting_for_payment" || @lesson.state == "Payment Complete" %>
      <%= render partial: 'lessons/confirmed_time_and_feedback' %>
  <%end%>

  <div class="col-md-6">
    <h4>Basic <strong>Info</strong></h4>

    <div class='row'>

      <div class="col-md-12">
        <label>Location:</label>
        <div class='form-control'><%= @lesson.location.name %></div>
      </div>
    </div>

      <div class='row'>
        <div class="col-md-4">
          <label>Date:</label>
          <div class='form-control'><%= @lesson.date %></div>
        </div>

        <div class="col-md-4">
          <label>Slot:</label>
          <div class='form-control'><%= @lesson.slot %></div>
        </div>
        <div class="col-md-4">
          <label>Price:</label>
          <div class='form-control'><%= number_to_currency(@lesson.price) %></div>
        </div>
      </div>

    <div class='row'>
     <!--  <div class="col-md-4">
        <label>Duration:</label>
        <div class='form-control'><%= "#{@lesson.duration} hours" if @lesson.duration %></div>
      </div>

      <div class="col-md-4">
        <label>Start Time:</label>
        <div class='form-control'><%= @lesson.start_time %></div>
      </div> -->

<!--       <div class="col-md-4">
        <label>Do you have gear?</label>
        <div class='form-control'><%= @lesson.gear? ? 'Yes, already have gear' : 'No, need gear.' %></div>
      </div> -->
    </div>
  </div>

  <div class="col-md-6">
    <h4>Objectives <strong> and Experience</strong></h4>

    <div class='col-md-12'>
      <label>Focus Area:</label>
      <div class='form-control'><%= @lesson.focus_area %></div>
    </div>

    <div class='col-md-12'>
      <label>Objectives:</label>
      <div class='form-control'><%= @lesson.objectives %></div>
    </div>
  </div>

  <div class='col-md-12 student-box'>
      <h4>Student <strong>Info</strong></h4>
  <% @lesson.students.each do |student| %>
    <div class='row'>
      <div class='col-md-12'>
        <label>Name</label>
        <%= student.name %>
      </div>
      <div class='col-md-12'>
        <label>Age Range</label>
        <%= student.age_range %>
      </div>
      <div class='col-md-12'>
        <label>Gender</label>
        <%= student.gender %>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-12'>
        <label>About the student</label>
        <%= student.relationship_to_requester %>
      </div>
      <div class='col-md-12'>
            <label>Most Recent Experience </label>
            <%= student.most_recent_experience.to_s %>
      </div>
      <div class='col-md-12'>
            <label>Most Recent Level </label>
            <%= student.most_recent_level.to_s %>
      </div>
      <div class='col-md-12'>
            <label>Other Athletic Experience </label>
            <%= student.other_sports_experience.to_s %>
      </div>
    </div>
    <hr>
  <% end %>
</div>


</div>
