<!-- SLIDER -->
<img id="cycle-loader" src="/assets/spinner.gif" alt="loader" />

<ul id="slider">
  <li>
    <!-- <img src="/assets/demo/slider/thredbo-village-resort-hero.jpg" class="bg-photo" alt="" /> -->
    <img src="/assets/demo/slider/thredbo1.jpg" class="bg-photo" alt="" />
  <%= semantic_form_for @lesson do |f| %>
    <% if @instructor_requested %>
      <div class="instructor-selection">
          <div class="block-inputs">
            <p>
              <div class="col-md-12">
                <h4 class="hidden-unless-desktop">Instructor Requested:</h4>
                  <h3>
                    <%= link_to Instructor.find(@instructor_requested).name, Instructor.find(@instructor_requested) %>
                  </h3>
                  <div class="">
                    <%= f.input :instructor_id, as: :select, collection: Instructor.all.sort_by{ |instructor| instructor.name}, selected:@instructor_requested, include_blank: 'Instructor', label: false %>
                  </div>
                <div class="square-image">
                  <% if Instructor.find(@instructor_requested).avatar? %>
                    <%= image_tag Instructor.find(@instructor_requested).avatar.url(:large), alt:"avatar-img", class:"img-circle instructor-photo avatar-center" %>
                  <% end %>
                </div>
              </div>
            </p>
          </div>
      </div>
    <% end %>
    <div class="caption">

      <div class="block">
        <h1>BOOK A LESSON TODAY</h1>
      </div>

      <div class="block">
        <p>Personalized one-on-one attention from an expert <strong>Snow Schoolers </strong> instructor is the best way to elevate your skills!</p>
      </div>

        <%= f.semantic_errors :instructor %>
          <div class="block inputs">
            <p>
              <div class="col-md-3">
                <%= f.input :activity, as: :select, collection: ['Ski', 'Snowboard'], include_blank: 'Lesson Type', label: false %>
              </div>

              <div class="col-md-3">
                <%= f.input :requested_location , as: :select, collection: Location.all.sort_by { |location| location.name.downcase} , selected: @promo_location, include_blank: 'Location', label: false %>
              </div>

              <%= f.semantic_fields_for :lesson_time, @lesson_time do |lt_f| %>
                <div class="col-md-3">
                  <%= lt_f.input :date, as: :string, input_html: { id: 'datepicker' }, placeholder: 'Date', label: false %>
                  <span class="search-area-icon"></span>
                </div>

                <div class="col-md-3">
                  <!-- <%= lt_f.input :slot, as: :select, collection: ['Morning', 'Afternoon', 'Full Day'], include_blank: 'Time', label: false %> -->
                  <%= lt_f.input :slot, as: :select, collection: ['1hr Early Bird', 'Half-day Morning', 'Half-day Afternoon', 'Full-day Private'], selected: @promo_slot, include_blank: 'Time', label: false %>
                </div>
            </p>
          </div>

      <% end %>
        <%= f.input :state, as: :hidden, input_html: { value: 'new' } %>
        <%= hidden_field_tag 'ga_client_id', '', :class => 'ga-client-id' %>
        <ul class="new-lesson-ctas-list">
          <li>
            <%= f.actions do %>
              <%= f.action :submit, as: :input, button_html: { class: 'btn btn-default btn-lg', value: 'Book Lesson' } %>
            <% end %>
          </li>
            <% if @instructor_requested.nil? %>
            <li>  OR </li>
          <li>
              <a id='browser-instructors-cta' href="/browse" class="btn btn-default btn-lg">Browse instructors</a>
              <!-- class="browse-instructors-btn" -->
          </li>
            <% end %>
        </ul>
      <% end %>
    </div>
  </li>
  <li><img src="/assets/demo/slider/happy.jpg" alt="" /></li>
</ul>
<!-- /SLIDER -->
