<% title 'Book a Ski Lesson' %>
<% meta_tag :description, "Easily book a private ski or snowboard lesson with our fleet of expert, certified instructors." %>

<!-- SLIDER -->
<img id="cycle-loader" src="/assets/spinner.gif" alt="loader" />

<!-- PreSeason Modal -->
<% if notice.nil? && alert.nil? && @lesson.errors.count == 0 && session[:pre_season_location_request].nil? && Location.active_partners.count == 0 %>
<a id="preSeasonModalButton" class="hidden" href="#" data-toggle="modal" data-target="#preSeasonModal">New user? First register your Account</a>
<% end %>
<div class="modal" id="preSeasonModal" tabindex="1" role="dialog" aria-labelledby="preSeasonModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content preSeasonModal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title text-warning" id="myModalLabel">Attention - we have not yet begun accepting new reservations for the '16/17 winter. </h3>
        <h4 class="text-notice">If you have questions about when and where we will be offering lessons, please email us at <a href="mailto:info@snowschoolers.com">info@snowschoolers.com</a>, or enter your favorite resort in the form below.</h4>
      </div>
      <div class="modal-body">
          <h3 class="center">
            Where do you want to take a lesson this year?
          </h3>
        <%= semantic_form_for(PreSeasonLocationRequest.new) do |ps_request| %>
            <div class="field center">
              <%= ps_request.input :name,  placeholder: "My favorite ski area is...", label:false %>
            </div>
            <br>
            <div class="actions center">
              <%= ps_request.submit "Submit", class: "btn btn-success" %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>

<ul id="slider">
  <li>
    <!-- <img src="/assets/demo/slider/thredbo-village-resort-hero.jpg" class="bg-photo" alt="" /> -->
    <img src="/assets/demo/slider/thredbo1.jpg" class="bg-photo" alt="" />
  <%= semantic_form_for @lesson do |f| %>
    <% if @instructor_requested %>
      <div class="instructor-selection">
          <div class="block-inputs">
            <p>
              <div class="col-md-12">
                <h4 class="hidden-unless-desktop">Instructor Requested:</h4>
                  <h3>
                    <%= link_to Instructor.find(@instructor_requested).name, Instructor.find(@instructor_requested) %>
                  </h3>
                  <div class="hidden">
                    <%= f.input :instructor_id, as: :select, collection: Instructor.all.sort_by{ |instructor| instructor.name}, selected:@instructor_requested, include_blank: 'Instructor', label: false %>
                  </div>
                <div class="square-image">
                  <% if Instructor.find(@instructor_requested).avatar? %>
                    <%= image_tag Instructor.find(@instructor_requested).avatar.url(:large), alt:"avatar-img", class:"img-circle instructor-photo avatar-center" %>
                  <% end %>
                </div>
              </div>
            </p>
          </div>
      </div>
    <% end %>
    <div class="caption">

      <div class="block">
        <h1>BOOK A LESSON TODAY</h1>
      </div>

      <div class="block">
        <p>Personalized one-on-one attention from a certified <strong>Snow Schoolers </strong> instructor is the best way to experience Lake Tahoe!</p>
      </div>

        <%= f.semantic_errors :instructor %>
          <div class="block inputs">
            <p>
              <div class="col-md-3">
                <%= f.input :activity, as: :select, collection: ['Ski', 'Snowboard'], selected:@activity, include_blank: 'Lesson Type', label: false %>
              </div>

              <div class="col-md-3">
                <%= f.input :requested_location , as: :select, collection: Location.active_partners.sort_by { |location| location.name.downcase} , selected: Location.active_partners.first.id, include_blank: 'Location', label: false %>
                <!-- %= f.input :requested_location , as: :select, collection: [['North Tahoe',1],['South Lake Tahoe',2],['Southern CA',3],['Utah',4],['Colorado',5],['Wyoming',6],['Idaho',7],['New Mexico',8]], selected: @promo_location, include_blank: 'Location', label: false %> -->
              </div>

              <%= f.semantic_fields_for :lesson_time, @lesson_time do |lt_f| %>
                <div class="col-md-2">
                  <%= lt_f.input :date, as: :string, input_html: { id: 'datepicker', value:@date }, placeholder: 'Date', label: false %>
                  <span class="search-area-icon"></span>
                </div>

                <div class="col-md-4">
                  <!-- <%= lt_f.input :slot, as: :select, collection: ['Morning', 'Afternoon', 'Full Day'], include_blank: 'Time', label: false %> -->
                  <%= lt_f.input :slot, as: :select, collection: ['Early Bird (9-10am)', 'Half-day Morning (10am-1pm)', 'Half-day Afternoon (1pm-4pm)', 'Full-day (10am-4pm)'], selected: @slot, include_blank: 'Time', label: false %>
                </div>
            </p>
          </div>

      <% end %>
        <%= f.input :state, as: :hidden, input_html: { value: 'new' } %>
        <%= hidden_field_tag 'ga_client_id', '', :class => 'ga-client-id' %>
        <ul class="new-lesson-ctas-list">
          <li>
            <%= f.actions do %>
              <%= f.action :submit, as: :input, button_html: { class: 'btn btn-default btn-lg', value: 'Book Lesson' } %>
            <% end %>
          </li>
            <% if @instructor_requested.nil? %>
            <li>  OR </li>
          <li>
              <a id='browser-instructors-cta' href="/browse" class="btn btn-default btn-lg">Browse instructors</a>
              <!-- class="browse-instructors-btn" -->
          </li>
            <% end %>
        </ul>
      <% end %>
    </div>
  </li>
</ul>
<!-- /SLIDER -->
