<div class="container">
<h3><a href="#hideLessons" class="btn btn-success" id="toggle-completed-lessons">Show (hide) Completed Lessons</a></h3>
<div id="completed-lessons" class="hidden">
<h1>Previously Completed Lessons</h1>

<table class="instructors-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Type</th>
      <!-- <th>Deposit?</th> -->
      <th>Lesson State?</th>
      <th>Requester</th>
      <th>Instructor</th>
      <th>Mountain</th>
      <th>Date</th>
      <th>Time Slot</th>
      <th>Time Stamp</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
        <% if lesson.completed? %>
          <tr>
            <td><%= lesson.id %></td>
            <td><%= link_to "#{lesson.activity}", lesson, class: "btn btn-default" %></td>
            <!-- <td><%= lesson.deposit_status %></td> -->
            <td><%= lesson.state %></td>
            <td><%= lesson.requester.email %></td>
            <% if lesson.instructor %>
            <td><%= lesson.instructor.username %></td>
            <% else %>
            <td>"TBD"</td>
            <% end %>
            <td><%= lesson.location.name %></td>
            <td><%= lesson.lesson_time.date.strftime("%m/%d") %></td>
            <td><%= lesson.lesson_time.slot %></td>
            <td><%= lesson.created_at.strftime("%m/%d/%Y at %I:%M%p") %></td>
            <td></td>
            <td></td>
            <!-- <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td> -->
            <!-- <td><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
          </tr>
        <%end%>
    <% end %>
  </tbody>
</table>
</div>
<hr>
<!-- SECTION 2 - ACTIVE LESSONS -->
<div id="todays-lessons" class="">
<h1>Today's Lessons </h1>

<table class="instructors-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Type</th>
      <!-- <th>Deposit?</th> -->
      <th>Lesson State?</th>
      <th>Requester</th>
      <th>Instructor</th>
      <th>Mountain</th>
      <th>Date</th>
      <th>Time Slot</th>
      <th>Time Stamp</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
        <% if lesson.active_today? %>
          <tr>
            <td><%= lesson.id %></td>
            <td><%= link_to "#{lesson.activity}", lesson, class: "btn btn-default" %></td>
            <!-- <td><%= lesson.deposit_status %></td> -->
            <td><%= lesson.state %></td>
            <td><%= lesson.requester.email %></td>
            <% if lesson.instructor %>
            <td><%= lesson.instructor.username %></td>
            <% else %>
            <td>"TBD"</td>
            <% end %>
            <td><%= lesson.location.name %></td>
            <td><%= lesson.lesson_time.date.strftime("%m/%d") %></td>
            <td><%= lesson.lesson_time.slot %></td>
            <td><%= lesson.created_at.strftime("%m/%d/%Y at %I:%M%p") %></td>
            <td></td>
            <td></td>
            <!-- <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td> -->
            <!-- <td><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
          </tr>
        <%end%>
    <% end %>
  </tbody>
</table>
</div>

<!-- SECTION 2 - ACTIVE LESSONS -->

<h3><a href="#hideLessons" class="btn btn-success" id="toggle-upcoming-lessons">Show (hide) upcoming Lessons</a></h3>
<div id="upcoming-lessons" class="hidden">
<h1>Next Week's Lessons </h1>

<table class="instructors-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Type</th>
      <!-- <th>Deposit?</th> -->
      <th>Lesson State?</th>
      <th>Requester</th>
      <th>Instructor</th>
      <th>Mountain</th>
      <th>Date</th>
      <th>Time Slot</th>
      <th>Time Stamp</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
        <% if lesson.active_next_7_days? %>
          <tr>
            <td><%= lesson.id %></td>
            <td><%= link_to "#{lesson.activity}", lesson, class: "btn btn-default" %></td>
            <!-- <td><%= lesson.deposit_status %></td> -->
            <td><%= lesson.state %></td>
            <td><%= lesson.requester.email %></td>
            <% if lesson.instructor %>
            <td><%= lesson.instructor.username %></td>
            <% else %>
            <td>"TBD"</td>
            <% end %>
            <td><%= lesson.location.name %></td>
            <td><%= lesson.lesson_time.date.strftime("%m/%d") %></td>
            <td><%= lesson.lesson_time.slot %></td>
            <td><%= lesson.created_at.strftime("%m/%d/%Y at %I:%M%p") %></td>
            <td></td>
            <td></td>
            <!-- <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td> -->
            <!-- <td><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
          </tr>
        <%end%>
    <% end %>
  </tbody>
</table>
</div>

</div>
