<div class="container">

<% if current_user && current_user.email == "brian@snowschoolers.com" %>
<!-- <div class="admin-viewable">
  <a href='lessons/admin_index' class='btn btn-warning'>View Full Lesson Details</a>
<p>
  Params are: <br>
  Date: <%= @date %> <br>
  Last Lesson Date: <%= Lesson.last.lesson_time.date.strftime("%m/%d/%Y") %>
</p>
</div> -->
<% end %>

<div id="schedule-filters" class="hidden-unless-desktop">
  <%= form_tag(lesson_schedule_results_path, :method => "get", class: "pass-search-form") do %>  
  <div id="sort-selector"
      <div class='row'>
        <h3>Select Date </h3>
        <%= text_field_tag :search_date, params[:search_date], input_html: { id: 'datepicker', class: 'form-control hasDatePicker'}, placeholder: 'Pick a date', label: false, required:false %>
      </div>

  </div>
  <div id="search-widget hidden">
      <%= text_field_tag :search, params[:search], placeholder: "Where do you love to ski...?", class:'navy-text form-control search-form hidden' %>
  </div>

  <div id="resort-filter">
    <h3>Adult School vs. Kids School</h3>
      <%= select_tag :age_type, options_for_select(["Adult Ski School","Kids Ski School"], params[:age_type]), {class: 'navy-text form-control'} %>
  </div>  
  <div class="update-filter-cta">
      <%= submit_tag "Update Filters", class:"btn btn-primary btn-xl page-scroll" %>      
  </div>
      <!-- % end %> -->
    <% end %>

<section class="sections-view">
  <% if @sections.nil? %>
    <h3 class="text-warning"> Please select a valid date to see results.</h3>
  <% else %>
  <% @sections.each do |section| %>
    <div class="col-md-4 calendar-day-block">
      <h4 class="center"> 
        Lesson #<%=section.id %> - <%= section.status %> <br> 
        <%= section.instructor.name %> <br>
        <b><%=section.name %></b>
      </h4>
      <div class="row">
      <div class="col-md-8">
        <p>
          Date: <%= section.date.strftime("%B %-d") %> <br>
          Ability: <%= section.level %>
          Instructor: <%= section.instructor.name %> <br>
          Number of students:  <%= section.student_count %> <br>
          Capacity Remaining:  <%= section.remaining_capacity %>
        </p>
      </div>
      <div class="col-md-4">
        <%= image_tag(section.instructor.avatar.url(:thumb), alt:"avatar-img", class:"img-responsive img-thumbnail avatar-thumbnail") %>
      </div>
      </div>
      <ul>
      <span><b>Students:</b></span>
        <% section.lessons.each do |lesson| %>
        <li><%= lesson.requester_name%>, age <%= lesson.students.first.age_range %> </li>
        <% end %>
      </ul>
      <p class="calendar-block-description">
      <%= link_to 'Edit Class', edit_section_path(section), class: "btn btn-warning btn-xs" %>
      </p>
    </div>    
  <% end %>
  <% end %>


</section>
<%= link_to 'New Class Section', new_section_path, class: "btn btn-success" %>
  <hr class="deposit-hr-navy">



<div id="upcoming-lessons" class="">
<h1 class="center">All Lessons to Schedule </h1>

<table class="instructors-table">
  <thead>
    <tr>
      <th>Type</th>
      <!-- <th>Deposit?</th> -->
      <th>Customer</th>
      <!-- <th>Mountain</th> -->
      <th>Date</th>
      <th>Status</th>
      <th>Price</th>
      <th>Section ID</th>
      <th>Class Assignment</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
          <tr>
            <% if lesson.product %>
            <td><%= link_to "#{lesson.product.name} - #{lesson.product.age_type}", lesson, class: "btn btn-default" %></td>
            <% end %>
            <% if lesson.requester %>
              <td class="lessons-table-cells lesson-student"><%= lesson.requester.email %></td>
              <% else %>
              <td class="lessons-table-cells lesson-student"><%= lesson.guest_email %></td>
            <% end %>            <!-- <td><%= lesson.location.name %></td> -->
            <td><%= lesson.lesson_time.date.strftime("%m/%d") %></td>
            <td><%= lesson.state %></td>
            <td><%= number_to_currency(lesson.visible_lesson_cost) %></td>
            <td><%= lesson.section_id %></td>
            <%= form_tag(assign_section_path, :method => "put", class: "form-control") do %>  
            <% if lesson.section.nil? %>
              <td>
                <%= select_tag :section_id, options_from_collection_for_select(Section.all.sort {|a,b| a.id <=> b.id}, :id, :instructor_name_for_section,  params[:section_id]), include_blank:"Select instructor" %>
                <div class="hidden">              
                  <%= text_field_tag :lesson_id, params[:lesson_id], value: lesson.id %>
                </div>
              </td>
              <td> <%= submit_tag "Assign to section", class:"btn btn-primary btn page-scroll" %></td>
            <% else %>
              <td>
                <%= select_tag :section_id, options_from_collection_for_select(Section.all.sort {|a,b| a.id <=> b.id}, :id, :instructor_name_for_section, selected:lesson.section.id), include_blank:"Change instructor" %>
                <div class="hidden">              
                  <%= text_field_tag :lesson_id, params[:lesson_id], value: lesson.id %>
                </div>
              </td>
              <td> <%= submit_tag "Re-assign to section", class:"btn btn-warning btn page-scroll" %></td>
            <% end %>
            <% end %>
            <!-- <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td> -->
            <!-- <td><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
          </tr>
        <%end%>
  </tbody>
</table>
</div>

</div>
