<div id="middle" class="container">
  <div class="white">

    <% if current_user && current_user.email == "brian@snowschoolers.com"%>
    <div class="col-md-12 vertical-padding">
    <h4> (ADMIN ONLY) Eligible instructors are:</h4>
      <ul>
        <% if @lesson.available_instructors.any? %>
            <% @lesson.available_instructors.each do |instructor| %>
            <li> <%= instructor.name  %> - <%= instructor.user_id %> - <%= instructor.phone_number %> </li>
            <% end %>
          <% else %>
          <li><p class="alert-danger">No instructors available!</p></li>
          <% end %>
      </ul>
        <%= link_to 'Edit Lesson', edit_lesson_path(@lesson), class: "btn btn-default" %>
    </div>
    <% end %>

    <% if @lesson.state == "ready_to_book" && @lesson.deposit_status.nil? %>
      <%= render partial: 'confirm_reservation' %>
    <% end %>

    <% if current_user && current_user.instructor.nil? && @lesson.state == "booked" || @lesson.state == "confirmed" %>
      <script src="https://www.smartwaiver.com/m/webpl/f.js?webpl_waiver=584daa0c8f287&webpl_title=Please%20now%20sign%20your%20waiver&webpl_align=Left&webpl_fontsize=20&webpl_background=%2355c9b2&webpl_fontcolor=%23ffffff&webpl_font=Verdana" type="text/javascript"></script>
    <% end %>

    <% if @lesson.finalizing? %>
      <%= render partial: 'confirming_lesson_duration' %>
    <% end %>

    <% if @lesson.waiting_for_payment? && current_user == @lesson.requester %>
      <%= render partial: 'make_payment' %>
      <% elsif @lesson.waiting_for_payment? && current_user.instructor %>
          <%= link_to "Edit Lesson Times", mark_lesson_complete_path, method: :put, class: "btn btn-success" %>
    <% end %>

    <% if @lesson.waiting_for_review? && current_user == @lesson.requester %>
      <%= render partial: 'reviews/form' %>
      <% elsif @lesson.waiting_for_review? && current_user.instructor %>
          <%= link_to "Remind student to submit their review", mark_lesson_complete_path, method: :get, class: "btn btn-success" %>
    <% end %>

    <% if @lesson.confirmable? || @lesson.completable? %>
      <%= render partial: 'lesson_actions_active' %>
    <% end %>

    <%= render partial: 'lesson_details' %>



    <% if @lesson.canceled? %>
      <p>Lesson has been canceled.</p>
    <% end %>

  </div>
</div>

<!-- SLIDER -->
<img id="cycle-loader" src="/assets/spinner.gif" alt="loader" />

<ul id="slider">
  <li><img src="/assets/demo/slider/thredbo-sunrise.jpg" alt="" /></li>
</ul>
<!-- /SLIDER
