<div id="middle" class="container">
  <div class="white">

    <% if current_user && current_user.email == "brian@snowschoolers.com"%>
    <div class="col-md-12 vertical-padding">
    <h4> (ADMIN ONLY) Eligible instructors are:</h4>
      <ul>
        <% @lesson.available_instructors.each do |instructor| %>
        <li> <%= instructor.username  %> - <%= instructor.phone_number %> </li>
      <% end %>
      </ul>
    </div>
    <% end %>

    <% if @lesson.waiting_for_payment? && current_user == @lesson.requester %>
      <%= render partial: 'make_payment' %>
      <% elsif @lesson.waiting_for_payment? && current_user.instructor %>
          <%= link_to "Edit Lesson Times", mark_lesson_complete_path, method: :put, class: "btn btn-success" %>
    <% end %>

    <% if @lesson.waiting_for_review? && current_user == @lesson.requester %>
      <%= render partial: 'reviews/form' %>
      <% elsif @lesson.waiting_for_review? && current_user.instructor %>
          <%= link_to "Remind student to submit their review", mark_lesson_complete_path, method: :get, class: "btn btn-success" %>
    <% end %>

    <% if @lesson.finalizing? %>
      <%= render partial: 'confirming_lesson_duration' %>
    <% end %>

    <% if @lesson.confirmable? || @lesson.completable? %>
      <%= render partial: 'lesson_actions_active' %>
    <% end %>

    <%= render partial: 'lesson_details' %>



    <% if @lesson.canceled? %>
      <p>Lesson has been canceled.</p>
    <% end %>

  </div>
</div>

<!-- SLIDER -->
<img id="cycle-loader" src="/assets/spinner.gif" alt="loader" />

<ul id="slider">
  <li><img src="/assets/demo/slider/thredbo-sunrise.jpg" alt="" /></li>
</ul>
<!-- /SLIDER
