<div class="container">
<h1>Listing products</h1>

<% if @products.present? %>
<% else %>
  <p>There are no products containing the term(s) "<%= params[:search] %>".</p>
<% end %>

<table class="instructors-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Location</th>
      <th>Calendar period</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.location.name %></td>
        <td><%= product.calendar_period %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
</div>
