<section id="header-creative" class="top-section section-pass-search-results">
      <ul id="slider">
          <li>
              <img src="https://s3.amazonaws.com/snowschoolers/calm-before-storm-feb13.JPG" alt="lake tahoe" class="bg-photo-blurred" alt="" />
          </li>
      </ul>
<div class="container">
<div id="pass-search-header">
  <h2 class="center">Lock in great savings on the '17/18 season!</h2>
  <div class="shadow-box-highlight season-pass-subheader white-text"> 
      <p>
          After the snowiest winter in decades, most of Tahoe's <a href="resorts" class="green-link">16 ski areas</a> are now offering great deals on next year's season passes. When you buy today, you not only lock in the lowest price, you'll also enjoy the rest of this year's spring skiing for free!
      </p>
  </div>
  
<!--   <div class="other-search-verticals">
    <a href="learn_to_ski_packages_search_results" class="btn btn-primary btn-lg"> Shop Lesson Packages</a>
    <a href="lift_tickets_search_results" class="btn btn-primary btn-lg"> Shop Lift Ticket Prices</a>
  </div>
 -->
 </div>
<hr class="full-hr">
  <div>
    <%= form_tag(pass_search_results_path, :method => "get", class: "pass-search-form") do %>
    <div id="search-widget" class="hidden">
      <%= text_field_tag :search, params[:search], value: "", placeholder: "Where do you love to ski...?", class:'navy-text form-control search-form' %>
      <%= submit_tag "Search", class:"btn btn-primary btn-lg" %>
    </div>
    <% if params[:search] %>
    <h4 class="center hidden-unless-desktop shadow-box-highlight text-white">There are <%= @products.count %> season passes that match your current search criteria:</h4>
    <% end %>
  </div>  

<h3><a href="#filterOptions" class="btn btn-success hidden-unless-mobile" id="toggle-filter-options">Show Filter Options</a></h3>

<div id="secondary-search-filters" class="hidden-unless-desktop">
  <div class="update-filter-cta">
      <%= submit_tag "Update Filters", class:"btn btn-primary btn-xl page-scroll" %>
  </div>
  <div id="sort-selector">
      <h3>Sort Results By: </h3>
      <%= select_tag :sort_tag, options_for_select(["Price Low to High","Price High to Low","Resorts A-Z"], params[:sort_tag]), {class: 'navy-text form-control'} %>
      </h3>
  </div>
  <div id="lesson-slot-filter">
      <h3>Pass Type</h3>
      <%= select_tag :search_pass_type, options_for_select(["All Passes","Adult","Child","College"], params[:search_pass_type]), {class: 'navy-text form-control'} %>
  </div>  
  <div id="resort-filter">
    <h3>Filter Resorts</h3>
    <!-- <span class="text-danger"><em>(Please first clear any text-search above.)</em></span> -->
    <ul class="resort-filter">
        <%= collection_check_boxes :resort_filter, :location_ids, Location.tahoe_locations.sort_by { |location| location.name.downcase}, :id, :name do |location_item| %>
        <li class="navy-text">
          <%= location_item.check_box %>
          <%= location_item.label %>
        </li>
        <% end %>
    </ul>
  </div>  
  <div class="update-filter-cta">
      <%= submit_tag "Update Filters", class:"btn btn-primary btn-xl page-scroll" %>
  </div>
</div>
      <!-- % end %> -->
    <% end %>

<div id="search-results-section">

  <div class="notice">
  <% if @products.present? %>
  <% else %>
    <p>There are no products containing the term(s) "<%= params[:search] %>".</p>
    <p>The full set of search parameters are: <%= @search_params %>.</p>
  <% end %>
  </div>

<% @products.each do |product| %>

  <% if product.location %>
  <div class="row search-results-card">    
  
    <div class="col-md-3 col-sm-3 col-xs-12 location-logo-section">
          <span class="helper"></span>
          <% if product.location.nil? || product.location.logo.nil? %>
            <img src="assets/copyright.jpg" class="instructor-photo ">
          <% else %>
            <%= image_tag product.location.logo.url(:large), alt:"location-logo", class:"location-logo center " %>
          <%end%>
          <div class="mobile-price hidden-unless-mobile">
          <% if product.url %>
            <h2 class="center products-cta">
              <a href="/shop/<%=product.id%>" class="btn btn-primary btn-lg page-scroll" target="_blank"><%= number_to_currency(product.price) %><span>&nbsp; &nbsp; &nbsp;<i class="fa fa-chevron-right button__icon button__icon--right"></i></span></a>
              </h2>
          <% end %>
          </div>
    </div>
    <div class="col-md-7 col-sm-7 location-details">
      <h1 class="product-name"><%= product.name %> @<%= product.location.name %></h1>
      <ul>
        <li><%= product.details %></li>
      </ul>
    </div>
    <div class="col-md-2 col-sm-2 price-offset hidden-unless-desktop">
        <h1 class="product-price"><%= number_to_currency(product.price) %> </h1>
        <% if product.url %>
        <h2 class="center products-cta"><a href="/shop/<%=product.id%>" class="btn btn-primary btn-lg page-scroll" target="_blank">Buy Now</a></h2>
        <% else %>
        <h2 class="center products-cta"><a href="mailto:info@snowschoolers.com?subject=How%20do%20I%20make%20a%20lesson%20reservation%20at%20<%=product.location.name%>" target="_blank" class="btn btn-primary page-scroll">Request Info</a></h2>
        <% end %>
    </div>
  </div>
  <% end %>

<% end %>
    <p class="shadow-box-highlight white-text">Are we missing something? Or have prices changed? Let us know by emailing <a href="mailto:info@snowschoolers.com" class="green-link" target="_blank">info@snowschoolers.com</a></p>

</div>
</section>