<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Location:</strong>
  <%= @product.location_id %>
</p>
<p>
  <strong>Length:</strong>
  <%= @product.length %>
</p>
<p>
  <strong>Slot:</strong>
  <%= @product.slot %>
</p>
<p>
  <strong>Start time:</strong>
  <%= @product.start_time %>
</p>

<p>
  <strong>Calendar period:</strong>
  <%= @product.calendar_period %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
