<h1>Listing locations</h1>

<table class="instructors-table">
  <thead>
    <tr>
      <th>Ski Area Name</th>
      <th>Region</th>
      <th>State</th>
      <th>Partner Status</th>
      <th>Calendar Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        <td><%= location.region %></td>
        <td><%= location.state %></td>
        <td><%= location.partner_status %></td>
        <td><%= location.calendar_status %></td>
        <td><%= link_to 'Show', location %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New location', new_location_path %>
